node_modules/
jspm_packages/
web_modules/


javascript
*.log
npm-debug.log*



.env
.env.local
.env.development.local


# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

dist/
build/
.cache/
.parcel-cache
.next/
.nuxt/
out/



